.{
    padding: 0px;
    margin-left:0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
header {
    border-bottom: 1px solid rgb(104, 98, 98);
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
}
header .container {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
.container {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  
}

#logo, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: "Lora", serif;
    font-weight: 600;
}


#logo {
    font-size: 28px;
    color: black;
    text-decoration: none;
}
#nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content : space-around;
    align-items : center;
    gap: 20px;

}
.navlink {
    color: rgb(66, 60, 60);
    text-decoration: none;
}
h1 {
    font-size: 40px;
    margin-bottom: 24px;
    margin-left: 20px;
}

p{
    color: gray;
    line-height: 170%;
}

#section1 .container {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    gap: 60px;
    margin-bottom: 160px;
   

}
#buttonlinks {
    margin-top: 30px;
    margin-left: 40px;
}
#section1img {
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
    
}
.button{
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 16px;
    text-decoration: none;
}
.primarylink {
    background-color: rgb(10, 10, 10);
    color: white;
    display: inline-block;
    border-radius: 8px;

}
.secondarylink {
    
    color:black;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 8px;
    

}
h2{
    font-size: 28px;
    margin-top: 32px;
    margin-top: 50px;
}
.achivement{
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 32px;
}
#achivementlist{
    list-style: none;
    margin-top: 16px;
   
    display: flex;
    flex-direction: row;
    gap: 10px;
}   
#section2{
    background-color: rgb(218, 213, 213);
    width: 100%;
    
}
.insights{
    background-color: white;
    border: 1px solid rgb(136, 135, 135);
    border-radius: 8px;
}
#insightslist{
    list-style: none;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
}
#insightimg{
    width: 100%;
    border-radius: 8px;
    border-top: 8px;
    
    
    
}
.insightlink{
    background-color: rgb(10, 10, 10);
    color: white;
    display: inline-block;
    border-radius: 8px;
    margin-left: 30px;;
    margin-right: 50px;
    margin-bottom: 16px;
}
#section3{
    background-color:white
}